*{
margin:0;
padding:0;
}
.center{
width:860px;
margin:0 auto;
align:left;
}
.center ul{
 list-style:none;
 margin-top:2%;
 
 }
 .center ul li{
 background:none;
 width:170px;
 border:1px solid #fff;
 height:50px;
 line-height:50px;
 text-align:center;
 float:left;
 color:black;
 font-size:18px;
 position:relative;
 font-family:arial;
 }
 .center ul li:hover{
	background: #dda0dd; 
 }
 .center ul ul{
	display:none;
 }	
 .center ul li:hover > ul{
	 display:block;
 }
 .center ul ul ul{
	 margin-left:170px;
	 top:0;
	 position:absolute;
 }
 .center ul ul li a:link{
	 color:black;
	 background-color:transparent;
	 text-decoration:none;
 }
 .center ul li.active{
 background-color:#800080;
 color:black;
 }
 .center ul ul{
	display:none;
 }	
 .center ul li:hover > ul{
	 display:block;
 }
 .center ul ul ul{
	 margin-left:172px;
	 top:0;
	 position:absolute;
 }
 .center ul ul li a:link{
	 color:white;
	 background-color:transparent;
	 text-decoration:none;
 }
 .center ul li.active{
 background-color:#DDA0DD;
 color:black;
 }